p {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 0px; 
    }
    .title{
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        line-height: 24px;
        margin-bottom: 0;
        margin-bottom: 5;
    }
    .stats{

        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-bottom: 14px;
    }
    .writer{

        font-size: 14px;
        color: rgb(96, 96, 96);
        margin-bottom: 18px;
    }
    .text{

        font-size: 14px;
        color: rgb(96, 96, 96);
        width: 280;
        line-height: 20px;
        margin-bottom: 100px;
    }
    .red{
        text-align: center;
        font-size: 14px;
        background-color: rgb(227, 65, 64);
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .link:hover{
        text-decoration: underline;
        cursor: pointer;
    }